<!-- Step -->
<!-- make sure the base alignment is exist (sys) -->
<!-- add new sequence to fasta file -->
<!-- do MUSCLE alignment -->
<!-- iqtree generate the graph -->
<!-- use biojs load the graph -->
<!-- tell user the default iteration for both program is 1, if user require more, ask user to do at their home, but provide the fasta file (unaligned) -->

<div class="well">
	<p id="_generate_tree"> Generate Phylogenetic Tree by <a href="http://www.drive5.com/muscle/"> MUSCLE </a>, <a href="http://www.iqtree.org/">IQ-Tree</a> and <a href="http://phylocanvas.org/">Phylocanvas</a> </p>

	<%= form_with url:'/phylogenetic_tree', remote: true, :html => {:id => "do-tree"} do |f| %>

		<%= f.submit "Generate Phylogenetic Tree", :class => "btn btn-primary", id: "generate-phylogenetic-tree" %>
		<%# <%= f.submit "Submit", :class => "btn btn-primary", id: "submit-seq" %>
	<% end %>

	<div id="phylocanvas"></div>
	<p id="graph-note"></p>

</div>

<script>
	// sample data: (A:0.1,B:0.2,(C:0.3,D:0.4)E:0.5)F 
	var create_phylocanvas = function phylocanvas(data,highlight) {
		var tree = Phylocanvas.createTree('phylocanvas');
		// tree.setTreeType('rectangular');
		tree.setTreeType('hierarchical');
		
		// highlight the node for user
		// for(var i = 0; i < tree.leaves.length; i++){
		// 	if(tree.leaves[i].id == highlight || tree.leaves[i].label == highlight){
		// 		tree.leaves[i].highlighted = true;
		// 		break;
		// 	}
		// }
		tree.load(data);
		var re = new RegExp(highlight);
		var leaves = tree.findLeaves(re);
		// require check the sequence header to make sure it doesn't have duplicates
		if (leaves[0] !== undefined ){
			leaves[0].highlighted = true;
			tree.fitInPanel(leaves);
		}

		tree.draw();


		tree.on('click', function (e) {
			var node = tree.getNodeAtMousePosition(e);
			if (node) {
				tree.redrawFromBranch(node);
			} else {
				tree.redrawOriginalTree();
			}
		});
		
	}

	$('#do-tree').submit(function(e){
		e.preventDefault();
		var sequence = $('.seq-search-sequence').val();
		var form = $(this);
		$.ajax({
			type:"POST",
			url: "/phylogenetic_tree",
			// give the sequence back for generating new fasta file
			data: form.serialize() + '&sequence=' + sequence,
			success: function(data){
				$('#generate-phylogenetic-tree').remove();
				create_phylocanvas(data.tree, data.highlight);
				$('#graph-note').text("For more advanced graph viewer, plesase see");
				$('#graph-note').append("<a href='https://en.wikipedia.org/wiki/List_of_phylogenetic_tree_visualization_software'> Wiki </a>");

			},
			error: function(data){
				$("#submit-message").text(data.message_err);
			}
		})
	})

	

</script>