<style type="text/css">
#seqresulttag{
  text-align: center;
  color: #002a5c;
}

#simtext{
  text-align: left;
}

#simthtag{
  width: 45%;
}
.each-result{
	padding: 30px;
	max-width: 1000px;
	overflow: auto;
	margin: auto;
	text-align: left;
	color: #002a5c;
}
</style>

<div>
<h3 id="seqresulttag"> Similiarity to Reductive Dehalogenases Blast Database </h3>
<table class="each-result">
  <tr id="aasim">
    <th id="simthtag">AA Similarity</th>
    <td id="simtext"><%= @aa_similarity %></td>
  </tr>
  <tr id = "aasim">
    <th id="simthtag">Matching Group</th>
    <td id="simtext">
    	<% if @final_identity_groups.length == 0 %>
    		<%= "No Matching OD Group" %>
    	<% else %>
    		<% @final_identity_groups.each do |group_number| %>
    			<%= "#{group_number}\t" %>
    		<% end %>
    	<% end %>
    </td>
  </tr>
</table>
</div>
<hr id="hrtg">
