

<div class="well">
<h3> Smiliarity to Reductive Dehalogenases Blast Database </h3>
<table>
  <tr>
    <th>AA Similarity</th>
    <td><%= @aa_similarity %></td>
  </tr>
  <tr>
    <th>NT Similarity</th>
    <td><%= @nt_similarity %></td>
  </tr>
</table>
</div>

