

<div class="well result-table">
<h3> Smiliarity to Reductive Dehalogenases Blast Database </h3>
<table>
  <tr id="aasim">
    <th id="simthtag">AA Similarity</th>
    <td id="simtext"><%= @aa_similarity %></td>
  </tr>
  <tr id = "ntsim">
    <th id="simthtag">NT Similarity</th>
    <td id="simtext"><%= @nt_similarity %></td>
  </tr>
</table>
</div>
