<div class="card mt-5">
  <div class="card-body">
    <h5 class="card-title">Citing the Reductive Dehalogenase Database</h5>
    <p class="card-text">
    The Reductive Dehalogenase Database is offered to the public as a freely available resource. Use and re-distribution of the data, in whole or in part, for commercial purposes requires explicit permission of the authors and explicit acknowledgment of the source material (Reductive Dehalogenase Database) and the original publication (see below). We ask that users who download significant portions of the database cite the following paper in any resulting publications.
    </p>
    <hr>
    <h6 class="card-subtitle mb-2 text-muted">Please Cite:</h6>
    <a href="#" class="card-link">Molenda et al. 2020, Environ Sci-Proc Imp.</a>
    </div>
</div>