<div class="about-page-header">
  <h2>About the Reductive Dehalogenases Database</h2>
</div>

<div class="well about-page-header">
  <h3 class ="about-page-header">What is the Reductive Dehalogenases Database?</h3>
    <div id="abouttext">
      <p id = "theabouttext">
      The Reductive Dehalogenases Database is a freely available electronic database containing the largest
      and most comprehensive set of amino acid sequence and nucletide sequence of reductive dehalogenase enzymes. Organohalide respiring bacteria (OHRB) are the organisms that produce reductive dehalogenase enzymes (RDases or RdhA if uncharacterized) for catalyzing dechlorination. 
      The database currently houses 610 sequences of reductive dehalogenase enzymes. All the enzymes are classified into 84 groups based on the similarity of their sequences (>90% identity). The database includes most studied organohalide respiring bacteria such as: Dehalococcoides mccartyi, Dehalobacter WL, Desulfitobacterium sp., Anaeromyxobacter dehalogenans, etc. Reductive Dehalogenases Database also includes the information about interactive substrate and inhibitor for each related enzymes. All Reductive Dehalogenases Database data is downloadable and is intended for applications in genomics, ligand-enzyme interaction discovery, and general education.
      </p>
      <p id = "theabouttext">
        Reductive dehalogenase enzymes occur in an operon containing rdhA, rdhB, rdhC, and sometimes additional genes. Protein is identified based on the presence of three motifs: a twin-arginine TAT membrane export sequence (RRXFXK), an eight-iron ferredoxin cluster binding motif (CXXCXXCXXXCP) and various modifications of a cobalamin binding motif (DXHXXGSXLGG).
        <figure>
            <%= image_tag 'mechanism.png', :class=> "mechanism-img" ,width: 800, height:400, alt: 'RedOrthDB'%>
            <figcaption>Figure 1. Cross section of a Dehalococcoides mccartyi cell membrane containing the hypothetical organohalide respiratory protein complex adapted from</figcaption>
        </figure>
        
      </p>

    </div>
</div>


<h3 class ="about-page-header">Citing the Reductive Dehalogenases Database</h3>
<div id="abouttext2">
  <p id="theabouttext">
    The Reductive Dehalogenases Database is offered to the public as a freely available resource.
    Use and re-distribution of the data, in whole or in part, for commercial purposes
    requires explicit permission of the authors and explicit acknowledgment of the source
    material (Reductive Dehalogenase DB) and the original publication (see below). We ask that
    users who download significant portions of the database cite the following paper in
    any resulting publications.
  </p>
  <hr>
  <h4>Please Cite:</h4>
  <p> 1. J Doe, et al., Sample Paper 2019, Potential Journal <p>
</div>
</div>
