<div class="page-header">
  <h1>About the Reductive Dehalogenases Database</h1>
</div>

<h2>What is the Reductive Dehalogenases Database?</h2>
<div class="well">
  <%= render :partial => "simple/intro" %>
  <p>
    
  </p>
</div>

<h2>Citing the Reductive Dehalogenases Database</h2>
<%= render :partial => "simple/cite" %>

