<style type="text/css">
	#contact-href{
      color: #00c5ff !important;
  }
  #contact-href:hover {
    color: #0085ff !important;
    text-decoration: none;
  }
</style>

<div class="container">
  <h2>Contact</h2>
<hr>
<div class="container" id = "contactdiv">
  <p>
    Improvement suggestions and bugs about website, please report to our BitBucket <a id = "contact-href" target = "_blank" href = "https://bitbucket.org/xcao2333/orthology_db/issues?status=new&status=open"> Issue </a>page
    
  </p>

</div>
<hr>
<div class="container" id = "contactdiv">
  <p>
    The Reductive Dehalogenases Database data curation was prepared by the
    <a id = "contact-href" target = "_blank" href = "https://www.labs.chem-eng.utoronto.ca/edwards">Elizabeth Edwards Lab</a>.
    To submit relative amino acid or nucleotide sequences to the lab or database, please contact Elizabeth Edwards Lab.
  </p>

</div>
<hr>
<div class="container" id = "contactdiv">
  <p>
    The Reductive Dehalogenases Database website was developed by the
    <a id = "contact-href" target = "_blank" href = "http://www.wishartlab.com">Wishart Research Group</a>. 
  </p>
  <p>
    We would love to hear your feedback, suggestions, or reports on errors or inconsistencies in Reductive Dehalogenase DB. Please
    use our lab's Feedback Form and we will direct your message to
    the appropriate expert.
  </p>
  <p>
    <%= link_to 'Questions / Feedback Form', 'http://feedback.wishartlab.com',
                class: 'btn btn-primary' %>
  </p>
</div>


</div>
