<style type="text/css">
	#contact-href{
      color: #00c5ff !important;
  }
  #contact-href:hover {
    color: #0085ff !important;
    text-decoration: none;
  }
</style>

<div class="container">
  <h2>Contact</h2>
<hr>
<div class="container" id = "contactdiv">
  <p>
    The Reductive Dehalogenases Database website was developed by the
    <a id = "contact-href" target = "_blank" href = "http://www.wishartlab.com">Wishart Research Group</a>
  </p>
  <p>
    We would love to hear your feedback, suggestions, or reports on errors or inconsistencies in HMDB. Please
    use our lab's Feedback Form and we will direct your message to
    the appropriate expert.
  </p>
  <p>
    <%= link_to 'Questions / Feedback Form', 'http://feedback.wishartlab.com',
                class: 'btn btn-primary' %>
  </p>
</div>
<hr>
<div class="container" id = "contactdiv">
  <p>
    The Reductive Dehalogenases Database data curation was prepared by the
    <a id = "contact-href" target = "_blank" href = "https://www.labs.chem-eng.utoronto.ca/edwards">Elizabeth Edwards Lab</a>
  </p>

</div>
</div>
