<h3 class="mb-sm-3">Downloads</h3>
<div class = "container">
	<!-- fasta file  -->
	<table class="download-table">
		<tr>
			<th>Amino Acid Sequence</th>
			<th>Nucleotide Sequence</th>
			<th>Entire Database</th>
			<th>Last Update</th>
		</tr>
		<tr>
			<td><%= link_to "AA.fasta", :action => :download_aa_cus %></td>
			<td><%= link_to "NT.fasta", :action => :download_nt_cus %></td>
			<td><%= link_to "csv", :action => :download_entry_table_cus %></td>
			<td><%= @last_update_date %></td>
		</tr>
	</table>
</div>