
<div class="container">
	<div class="general-help">
<!-- 		<a id="general-help"></a> -->
		<h3>Help</h3>
		<hr>
		<strong>How does Reductive Dehalogenase Database (RDDB) assign sequences to groups?</strong>
		

		<p>
			A reductive dehalogenase amino acid sequence is considered to be part of an orthologous group (OG) if it shares more than 90% pairwise identity with all current members of an OG. New sequences which cannot be sorted into a group are added as singletons. A more detailed breakdown is described below:
		</p>
		<p>
			We first ascertain the pairwise amino acid identity of your novel sequence(s) with the best-match protein from the reductive dehalogenase database. This is done using BLASTP searches of your sequence queried against the current reductive dehalogenase amino acid sequence database.
		</p>
		<p>
			&nbsp;&nbsp;&nbsp;&nbsp;a) If your sequence has less than 90% identity at the amino acid level to any sequence in the current database, it is given a singleton identifier number.
		</p>
		<p>
			&nbsp;&nbsp;&nbsp;&nbsp;b) If your sequence has greater than or equal to 90% pairwise identity at the amino acid level to a sequence in current database, we identify the group that your sequence belongs to.
		</p>
			

		<div id="abouttext-help">
			<b>This is done in the follows: </b><br>
			<b>i.</b> If the sequence shows higher or equal to 90% identity to all members of an ortholog group, the sequence is added to that group.<br>
			<b>ii.</b>  If your sequence does not shows higher or equal to 90% identity to all members of an ortholog groups, your sequence cannot be added to the group, but can be described as a close relative to that cluster. The sequence will be given a singleton identifier number and curated by the Edwards lab.<br>
			<b>iii.</b>  If your sequence shows higher or equal to 90% identity to a sington sequence, a new ortholog group may be constructed once the sequence has curated by the Edwards lab.<br>
		</div>
		<div id="abouttext-help">
			<strong>Default Blast Parameters for Submission</strong>
			<table id="default-parameter-table">
			  <tbody>
			    <tr>
			      <td>Cost to open a gap: </td>
			      <td><strong> 11</strong></td>
			    </tr>
			    <tr>
			      <td>Cost to extend a gap: </td>
			      <td><strong> 1</strong></td>
			    </tr>
			    <tr>
			      <td>Penalty for mismatch: </td>
			      <td><strong> -3</strong></td>
			    </tr>
			    <tr>
			      <td>Reward for match: </td>
			      <td><strong> 2</strong></td>
			    </tr>
			    <tr>
			      <td>Expected Value (E-Value): &nbsp;&nbsp; </td>
			      <td><strong> 0.000001 &nbsp;</strong></td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>


	<div class="assign-rules">
		<br>
		<a id="assign-rules"></a>
		<h3>Submission rules</h3>
		<hr>
		<strong>How to submit a sequence to the Reductive Dehalogenase Database (RDDB)?</strong><br>
		
		<p>We only accept publicly available sequences that have an accession number from Genbank or IMG.
		You can submit upto 20 sequences per file.</p>
		<p>The sequences must be in fasta format with the following header:</p>
		<p id="fasta-format-p">
			> Self-assigned ID or Name | Accession No. | Organism | Citation (optional) |<br>
			Your Amino Acid Sequence/Nucleotide Sequence ...<br>
			> 8657042VS | WP_012881438 | Dehalococcoides mccartyi VS | | <br>
			MEMNIYHSTISRRNFMKGLGLSGAALGAATASA...<br>
			> ...<br>
			 ...<br>
		</p>



		<div class="alert alert-warning" role="alert">
		  If you don't follow the rules, your submission will be rejected.<br>
		  If you think our rules are not fair for your situation, please <a href="/contact">contact us</a>.
		</div>
		
	</div>



	<div class="common-abbrev">
		<br>
		<h3>Documentation</h3>
		<hr>

		<strong>Common abbreviations</strong><br>
		RDases – reductive dehalogenase<br>
		RdhA – reductive dehalogenase, substrate unknown, A catalytic subunit<br>
		rdhA – reductive dehalogenase gene, A subunit<br>
		VcrA – vinyl chloride reductase<br>
		PceA – perchloroethene reductase<br>
		TceA – trichloroethene reductase<br>
		BvcA – vinyl chloride reductase<br>
		Dhc – Dehalococcoides<br>
		OG – orthologous group<br>
	</div>


	<div class="video-tutorial">
		<br>
		<h3>Tutorials</h3>
		<hr>
		<div>
			<p>How to use RDDB?</p>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/HXEpBnUbAMo" frameborder="0" allowfullscreen></iframe>
		</div>

		<br>
		<div>
			<p>How to use NCBI blast?</p>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/HXEpBnUbAMo" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>


</div>
