<style type="text/css">

.about-page-header{
  padding: 30px;
}

#mainimage{
		text-align: center;
		padding: 30px;
}

#abouttext{
  text-align: left;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #002a5c;
  color: white;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#abouttext2{
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  margin-left: 30px;
  background-color: #d9edf7;
  color: #31708f;
  border: 1px solid #bce8f1;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  width: 80%;
}

#theabouttext{
  text-align:left;
}


</style>


<hr>
<div id="mainimage">

<!-- <h2 class = "about-page-header">Reductive Dehalogenase DB </h2> -->

<%= image_tag 'Orthologydb_logo.png', alt: 'RedOrthDB'%>

</div>

<div class = "well about-page-header">
  <h3 class = "about-page-header">
    Introducing Reductive Dehalogenase DB Version 1.0
  </h3>
  <p id = "abouttext">
    The purpose of this database is to provide public access to a database of
    all reductive dehalogenase sequences and classify them into orthologous
    groups with the underlying assumption that sequences found in the same
    group share the same function. This database was created to replace the
    share google document found
    <a href="https://drive.google.com/drive/u/0/folders/0BwCzK8wzlz8ON1o2Z3FTbHFPYXc">here</a>.

    <br>
    <br>
    Organohalide respiration is an anaerobic bacterial metabolic process that
    uses halogenated hydrocarbons as terminal electron acceptors in electron
    transport-based energy conservation. The enzyme responsible for cleaving
    the halide bond is the reductive dehalogenase A subunit. The use of
    organohalide respiring bacteria for dechlorination in contaminated soil and
    groundwater has had considerable interest and success in recent years.
    Each organohalide respiring bacteria harbours multiple reductive
    dehalogenase genes. However, only a very select few proteins have been
    biochemically characterized to any extent. In 2013, Hug et al. developed
    an ortholog-based classification system for reductive dehalogenases by
    defining orthologous groups, in order to integreate new sequencing data
    and unify the terminology used, especially for reductive dehalogenases
    whose functions are unknown.

  </p>

</div>
<h3 class ="about-page-header">Citing the Reductive Dehalogenases Database</h3>
<div id="abouttext2">
  <p id="theabouttext">
    The Reductive Dehalogenases Database is offered to the public as a freely available resource.
    Use and re-distribution of the data, in whole or in part, for commercial purposes
    requires explicit permission of the authors and explicit acknowledgment of the source
    material (Reductive Dehalogenase DB) and the original publication (see below). We ask that
    users who download significant portions of the database cite the following paper in
    any resulting publications.
  </p>
  <hr>
  <h4>Please Cite:</h4>
  <p> 1. J Doe, et al., Sample Paper 2019, Potential Journal <p>
</div>
