<div class="p-5">
    <h2 class="mb-sm-3">Welcome to the Reductive Dehalogenase Database</h2>
    <p>The Reductive Dehalogenase Database is a freely available electronic database containing a curated, comprehensive set of amino acid and nucleotide sequences of reductive dehalogenase enzymes. In 2013, <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3638463/" target="_blank">Huprettg et al.</a> developed an ortholog-based classification system for reductive dehalogenases by defining Ortholog Groups (OG), in order to integrate new sequencing data and unify the terminology used, especially for reductive dehalogenases whose functions are unknown. The Reductive Dehalogenases Database is a tool to help with the analysis and facilitation of OG-classification of new reductive dehalogenases. We hope to expand analysis tools as more sequences and structures of reductive dehalogenases become publicly available.</p>
</div>
<div class="row align-items-center">
    <div class="col-md-6">
        <%= image_tag "RDaseDB_logo.png", :width => '100%', :alt => 'RDaseDB Logo' %>
    </div>
    <div class="col-md-6">
        <div class="list-group">
            <a href="/protein" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Browse</h5>
                </div>
                Browse and download the reductive dehalogenase sequences and compound databases.
            </a>
            <a href="/search" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Classify</h5>
                </div>            
                Classify your amino acid sequence using Blast.
            </a>
            <a href="/submit_sequence" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Submit</h5>
                </div>
                Submit sequences to our database.
            </a>
        </div>  
    </div>     
</div>

<%= render partial: 'citation' %>