<style type="text/css">

.about-page-header{
  padding: 30px;
}

#mainimage{
		text-align: center;
		padding: 30px;
}

#abouttext{
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #002a5c;
  color: white;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#abouttext2{
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  margin-left: 30px;
  background-color: #d9edf7;
  color: #31708f;
  border: 1px solid #bce8f1;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  width: 80%;
}

#theabouttext{
  text-align:left;
}


</style>


<hr>
<div id="mainimage">

<!-- <h2 class = "about-page-header">Reductive Dehalogenase DB </h2> -->

<%= image_tag 'Orthologydb_logo.png', alt: 'RedOrthDB'%>

</div>

<div class = "well about-page-header">
  <h3 class = "about-page-header">
    Introducing Reductive Dehalogenase DB Version 1.0
  </h3>
  <p id = "abouttext">
    The GWAS-ROCS Database is a freely available electronic database containing
    the largest and most comprehensive set of SNP-derived AUROCs. All of the
    data is either directly from, or derived from, GWAS Central — an open-access
     online repository of summary-level genome-wide association study (GWAS)
     data. The database currently houses 569 simulated populations
     (corresponding to 219 different conditions) and SNP data (odds ratio, risk
     allele frequency, and p-values) for 2809 unique SNPs. Each study simulation
      record (GR-Card) contains study information web-scraped from GWAS Central
       and simulated population data (e.g. ROC curves, AUROCs, SNP-heritability
        scores) determined from careful population modelling to recreate
         individual-level GWAS data. All GWAS-ROCS data is downloadable and is
          intended for applications in genomics, biomarker discovery, and
           general education.
  </p>

</div>
<h3 class ="about-page-header">Citing the Reductive Dehalogenases Database</h3>
<div id="abouttext2">
  <p id="theabouttext">
    The GWAS-ROCS Database is offered to the public as a freely available resource.
    Use and re-distribution of the data, in whole or in part, for commercial purposes
    requires explicit permission of the authors and explicit acknowledgment of the source
    material (GWAS-ROCS Database) and the original publication (see below). We ask that
    users who download significant portions of the database cite the following paper in
    any resulting publications.
  </p>
  <hr>
  <h4>Please Cite:</h4>
  <p> 1. J Doe, et al., Sample Paper 2019, Potential Journal <p>
</div>
