<div class="p-5">
    <h2 class="mb-sm-3">Welcome to the Reductive Dehalogenase Database</h2>
    <p>The Reductive Dehalogenase Database is a freely available electronic database containing a curated, comprehensive set of amino acid and nucleotide sequences of reductive dehalogenase enzymes. In 2013, <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3638463/" target="_blank">Huprettg et al.</a> developed an ortholog-based classification system for reductive dehalogenases by defining Ortholog Groups (OG), in order to integrate new sequencing data and unify the terminology used, especially for reductive dehalogenases whose functions are unknown. The Reductive Dehalogenases Database is a tool to help with the analysis and facilitation of OG-classification of new reductive dehalogenases. We hope to expand analysis tools as more sequences and structures of reductive dehalogenases become publicly available.</p>
</div>
<div class="pb-5">
    <div class="home-banner"><img src="/assets/Orthologydb_logo-a3eb15ea86f145f8e5323be1264cb0e610281eb7ec200b9dad597cee30306e93.png">
        <div class="banner-text">
            <div class="link-bar one">
                <div class="link-text">
                    <p><span style="font-size:20px; font-weight: bold;">Quick Start</span></p>
                </div>
            </div>
            <div class="link-bar two">
                <div class="link-text">
                    <p>Browse and <a href="/downloads">download </a>the reductive dehalogenase<a href="/protein"> sequences</a> and <a href="/compound">compounds</a> databases</p>
                </div>
            </div>
            <div class="link-bar three">
                <div class="link-text">
                    <p><a href="/search"> Classify</a> your amino acid sequence using Blast</p>
                </div>
            </div>
            <div class="link-bar four">
                <div class="link-text">
                    <p><a href="/submit_sequence"> Submit</a> sequences to our database.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<%= render partial: 'citation' %>