<div class="container">
<hr>
<div class="container other-database">
  <h2>Gene Databases</h2>
  <table class="table-standard">
    <colgroup span="2">
      <col class="field" />
      <col class="value" />
    </colgroup>
    <tr>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/genbank" target="_blank">GeneBank</a>
      </td>
      <td>
        The DrugBank database is a blended bioinformatics and cheminformatics resource that combines detailed drug (i.e. chemical, pharmacological and pharmaceutical) data with comprehensive drug target (i.e. sequence, structure, and pathway) information. The database contains over 7,800 drug entries including nearly 2,200 FDA-approved small molecule drugs, 340 FDA-approved biotech (protein/peptide) drugs, 93 nutraceuticals and &gt;5,000 experimental drugs.  DrugBank also contains extensive SNP-drug data that is useful for pharmacogenomics studies. 
      </td>
    </tr>
    <tr>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/genbank" target="_blank">GeneBank</a>
      </td>
      <td>
        The DrugBank database is a blended bioinformatics and cheminformatics resource that combines detailed drug (i.e. chemical, pharmacological and pharmaceutical) data with comprehensive drug target (i.e. sequence, structure, and pathway) information. The database contains over 7,800 drug entries including nearly 2,200 FDA-approved small molecule drugs, 340 FDA-approved biotech (protein/peptide) drugs, 93 nutraceuticals and &gt;5,000 experimental drugs.  DrugBank also contains extensive SNP-drug data that is useful for pharmacogenomics studies. 
      </td>
    </tr>
    <tr>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/genbank" target="_blank">GeneBank</a>
      </td>
      <td>
        The DrugBank database is a blended bioinformatics and cheminformatics resource that combines detailed drug (i.e. chemical, pharmacological and pharmaceutical) data with comprehensive drug target (i.e. sequence, structure, and pathway) information. The database contains over 7,800 drug entries including nearly 2,200 FDA-approved small molecule drugs, 340 FDA-approved biotech (protein/peptide) drugs, 93 nutraceuticals and &gt;5,000 experimental drugs.  DrugBank also contains extensive SNP-drug data that is useful for pharmacogenomics studies. 
      </td>
    </tr>
    <tr>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/genbank" target="_blank">GeneBank</a>
      </td>
      <td>
        The DrugBank database is a blended bioinformatics and cheminformatics resource that combines detailed drug (i.e. chemical, pharmacological and pharmaceutical) data with comprehensive drug target (i.e. sequence, structure, and pathway) information. The database contains over 7,800 drug entries including nearly 2,200 FDA-approved small molecule drugs, 340 FDA-approved biotech (protein/peptide) drugs, 93 nutraceuticals and &gt;5,000 experimental drugs.  DrugBank also contains extensive SNP-drug data that is useful for pharmacogenomics studies. 
      </td>
    </tr>
  </table>

  <hr>

  <h2>Protein Databases</h2>
  <table class="table-standard">
    <colgroup span="2">
      <col class="field" />
      <col class="value" />
    </colgroup>
    <tr>
      <td>
        <a href="https://www.uniprot.org" target="_blank">Uniprot</a>
      </td>
      <td>
        The DrugBank database is a blended bioinformatics and cheminformatics resource that combines detailed drug (i.e. chemical, pharmacological and pharmaceutical) data with comprehensive drug target (i.e. sequence, structure, and pathway) information. The database contains over 7,800 drug entries including nearly 2,200 FDA-approved small molecule drugs, 340 FDA-approved biotech (protein/peptide) drugs, 93 nutraceuticals and &gt;5,000 experimental drugs.  DrugBank also contains extensive SNP-drug data that is useful for pharmacogenomics studies. 
      </td>
    </tr>
    <tr>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/genbank" target="_blank">GeneBank</a>
      </td>
      <td>
        The DrugBank database is a blended bioinformatics and cheminformatics resource that combines detailed drug (i.e. chemical, pharmacological and pharmaceutical) data with comprehensive drug target (i.e. sequence, structure, and pathway) information. The database contains over 7,800 drug entries including nearly 2,200 FDA-approved small molecule drugs, 340 FDA-approved biotech (protein/peptide) drugs, 93 nutraceuticals and &gt;5,000 experimental drugs.  DrugBank also contains extensive SNP-drug data that is useful for pharmacogenomics studies. 
      </td>
    </tr>
    <tr>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/genbank" target="_blank">GeneBank</a>
      </td>
      <td>
        The DrugBank database is a blended bioinformatics and cheminformatics resource that combines detailed drug (i.e. chemical, pharmacological and pharmaceutical) data with comprehensive drug target (i.e. sequence, structure, and pathway) information. The database contains over 7,800 drug entries including nearly 2,200 FDA-approved small molecule drugs, 340 FDA-approved biotech (protein/peptide) drugs, 93 nutraceuticals and &gt;5,000 experimental drugs.  DrugBank also contains extensive SNP-drug data that is useful for pharmacogenomics studies. 
      </td>
    </tr>
    <tr>
      <td>
        <a href="https://www.ncbi.nlm.nih.gov/genbank" target="_blank">GeneBank</a>
      </td>
      <td>
        The DrugBank database is a blended bioinformatics and cheminformatics resource that combines detailed drug (i.e. chemical, pharmacological and pharmaceutical) data with comprehensive drug target (i.e. sequence, structure, and pathway) information. The database contains over 7,800 drug entries including nearly 2,200 FDA-approved small molecule drugs, 340 FDA-approved biotech (protein/peptide) drugs, 93 nutraceuticals and &gt;5,000 experimental drugs.  DrugBank also contains extensive SNP-drug data that is useful for pharmacogenomics studies. 
      </td>
    </tr>
  </table>

</div>
</div>