<div class="container">

	<table class="statistics-table">
		<tr>
			<th>Type</th>
			<th>Number of Sequence</th>
		</tr>

		<tr>
			<td>Original amino acid sequence</td>
			<td><%= @number_of_original_aa_sequence %></td>
		</tr>

		<tr>
			<td>Original nucleotide sequence</td>
			<td><%= @number_of_original_nt_sequence %></td>
		</tr>

		<tr>
			<td>Customized amino acid sequence</td>
			<td><%= @number_of_cus_aa_sequence %></td>
		</tr>

		<tr>
			<td>Customized nucleotide sequence</td>
			<td><%= @number_of_cus_nt_sequence %></td>
		</tr>

	</table>

</div>