///scss for Database tab////
.sequence-index table {
	border-collapse: collapse;
	width: 100%;
}

.sequence-index table th,td {
	text-align: left;
	padding: 3px;
}

.sequence-index table tr:nth-child(even) {
	background-color: #E3EEFC;
}

.sequence-index{
	color:black;
}
