///scss for Database tab////
.sequence-index {
	color: black;
	table {
		border-collapse: collapse;
		width: 100%;
		th, td {
			text-align: left;
			padding: 3px;
		}
		th input {
			width: 100%;
		}
		tr:nth-child(even) {
			background-color: #E3EEFC;
		}
	}
}
