#sequence{
  width: 65%;
  margin: 0 auto;
}

#first{
  padding-left: 25px;
  width: 300px;

}

#titlnav{
  width: 100%;
}
.nav-link:hover, .nav-link:active {
  color: grey !important;
}


.nav-item{
  padding-top: 40px;
}

.nav-link{
  color: #002a5c !important;
  font-size: 20px;
}

.navbar-nav mr-auto{
  vertical-align: middle;
  text-align: left;

}

.navbar navbar-expand-lg navbar-light bg-light{
  background-color: white;
}




.dontcollapse_navbar-collapse {
  display: inline;
  width:100%;
}

.collapse_navbar-collapse{
  background-color: white;
  width: 100%;
  height: 140px;
}

#navbarSupportedContent {
  background-color: white;
}

// .container{
//   background-color:#002a5c;
//   padding: 0px;
//   margin-right: 0;
//   margin-left: 0;
//   color: white;
//   border: 1px solid #e3e3e3;
//   border-radius: 4px;
//   -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
//   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
// }
.load-example{
  vertical-align: center;
  padding: 10px;
}

fieldset{
  padding-bottom: 10px;
}

@media (max-width: 1000px){
  .collapse_navbar-collapse{
    display: none;
  }
}
