@import url('https://fonts.googleapis.com/css?family=Maven+Pro&display=swap');

#sequence{
  width: 65%;
  margin: 0 auto;
}

#first{

  width: 300px;
  text-align: center;
}

html #first{
  font-family: "helvetica neue";
  font-weight: 1000;
  font-style: bold;
  letter-spacing: -1px;
  font-size: 28px;
}

@media (min-width: 1000px){
  #firstli{
  padding-top: 27px !important;
  width: 250px;
  }
}




#titlnav{
  width: 100%;

  padding: 0px;
}
.nav-link:hover, .nav-link:active {
  color: grey !important;
}


.nav-item{
  padding-top: 49px;
}

.nav-link{
  color: #002a5c !important;
  font-size: 20px;
}

.navbar-nav mr-auto{
  vertical-align: middle;
  text-align: left;

}

.navbar navbar-expand-lg navbar-light bg-light{
  background-color: white;
}

#first:hover, #first:active {
  color: grey !important;
  text-decoration: none;
}
#first{
  color: #002a5c !important;
  font-size: 20px;
}


.dontcollapse_navbar-collapse {
  display: inline;
  width:100%;
}

.collapse_navbar-collapse{
  background-color: white;
  width: 100%;
  height: 160px;
}

#navbarSupportedContent {
  background-color: white;
  padding: 10px;
}

// .container{
//   background-color:#002a5c;
//   padding: 0px;
//   margin-right: 0;
//   margin-left: 0;
//   color: white;
//   border: 1px solid #e3e3e3;
//   border-radius: 4px;
//   -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
//   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
// }
.load-example{
  vertical-align: center;
  padding: 10px;
}

fieldset{
  padding-bottom: 10px;
}

@media (max-width: 1000px){
  .collapse_navbar-collapse{
    display: none;
  }
}
@media (max-width: 1000px){
  .dontcollapse_navbar-collapse{
    text-align: center;
  }
  #firstli{
    text-align: center;
    width: 100%;
  }
  #first{
    text-align: center;
    width: 100%;
  }
}
