@import url('https://fonts.googleapis.com/css?family=Maven+Pro&display=swap');

#sequence{
  width: 65%;
  margin: 0 auto;
}

#first{
  width: 300px;
  text-align: center;
  img {
    width: 100%;
  }
}

html #first{
  font-family: "helvetica neue";
  font-weight: 1000;
  font-style: bold;
  letter-spacing: -1px;
  font-size: 28px;
  line-height: 10pt;
}

@media (min-width: 1000px){
  #firstli{
    // padding-top: 36px;
    width: 300px;
  }
}

#titlnav{
  width: 100%;
  padding: 0px;
}


#navbarNavDropdown{
  background-color: white;
  margin-right: 50px;
}

.navbar-toggler{
  width: 30%;
  margin: 0 auto;
}

.nav-link:hover, .nav-link:active {
  color: grey !important;
}

.nav-link{
  color: #002a5c !important;
  font-size: 20px;
}

.navbar-nav {
  vertical-align: middle;
  text-align: left;
  li:first-child {
    width: 11%;
    margin-right: 1em;
  }
}

.navbar navbar-expand-lg navbar-light bg-light{
  background-color: white;
}

#first:hover, #first:active {
  color: grey !important;
  text-decoration: none;
}
#first{
  color: #002a5c !important;
  font-size: 20px;
}


.dontcollapse_navbar-collapse {
  display: inline;
  width:100%;
}

.collapse_navbar-collapse{
  background-color: white;
  width: 100%;
  height: 160px;
}

#navbarSupportedContent {
  background-color: white;
  padding: 10px;
}

.load-example{
  vertical-align: center;
  padding: 10px;
}

fieldset{
  padding-bottom: 10px;
}

@media (max-width: 1000px){
  .collapse_navbar-collapse{
    display: none;
  }
}
@media (max-width: 1000px){
  .dontcollapse_navbar-collapse{
    text-align: center;
  }
  #firstli{
    text-align: center;
    width: 100%;
  }
  #first{
    text-align: center;
    width: 100%;
  }
}

.navbar-collapse{
  .navbar-nav{
    .nav-item{
      text-align: center;
    }
    .nav-item.dropdown.show{
      .dropdown-item{
        text-align: center;
      }
    }
  }
  
}




















