// Place all the styles related to the query controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sequence {
  width: 1000px;
  height: 200px;
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #002a5c;
    color: white;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    text-align: center
}

.well-tree {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    color: black;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    text-align: center
}

.well-submit-sequence {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    color: black;
    // background-color: #D9EDF7;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    text-align: center
}

.result-table table {
    border-collapse: collapse;
    width: 100%;
}

.result-table table th,td {
    text-align: left;
    padding: 8px;
}

.result-table table tr:nth-child(even) {
    background-color: #E3EEFC;
}

.hit-result {

}

.result-div {
	text-align: center;
}

#result-text {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	display: inline-block;
	width: 800px;

}

#phylocanvas__canvas{
    height: 500px; 
    width: 560px;
}

#result-textt {
    text-align: center;
    font-style: oblique;
}

#hrtg{
	max-width: 940px;
}

#seqresulttag{
  text-align: center;
  color: #002a5c;
}

#simtext{
  text-align: left;
}
#simtext-group{
  text-align: left;
}

#simthtag{
  width: 45%;
}

.each-result{
    padding: 30px;
    max-width: 1000px;
    overflow: auto;
    margin: auto;
    text-align: left;
    color: #002a5c;
}

#well-tree{
    border: none !important;
}

#loading-image{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

.option-button{
    
}

#reset-button {
    color: #CED6E0;
}

.load-example {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  /* color: #069; */ 
  text-decoration: underline;
  cursor: pointer;
}

.seq-search-scores {
  font-size: 13px;
}

#blast-parameters{
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #ffffff;
  font-size: 20px;
  text-decoration: underline;
  cursor: pointer;
}















































