
.sequence-index table {
	border-collapse: collapse;
	width: 100%;
}

.sequence-index table th,td {
	text-align: left;
	padding: 8px;
}

.sequence-index table tr:nth-child(even) {
	background-color: #E3EEFC;
}


.other-database table {
	border-collapse: collapse;
	width: 100%;
}

.other-database table th,td {
	text-align: left;
	padding: 8px;
}

.other-database table tr:nth-child(even) {
	background-color: #E3EEFC;
}

