// Place all the styles related to the submit_sequence controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.upload-div {
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
}

div.fasta-box {
    background-color: #e1e3e1;
}

#default-parameter-table{
     border-collapse: collapse;
}

#default-parameter-table td {
   padding: 0; 
   margin: 0;
}

#save-seqeunce-submit-table{
    float: right;
}