<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @username %> </h1><br>
    <p>
    	Thank you for submitting your sequence for review. We will get back to you after 
    	we finish annote them. Meanwhile, feel free to send us email (xcao2@ualberta.ca) if you have any concerns,
    	updated informations. Please include your sequence file when you make the request so 
    	it would be easier for us to identify your sequence.
    </p>
  </body>
</html>