<footer class="my-md-5">
  <hr>
    <div class="row">
      <div class="col-md-6">
        <p id="FundingText">
          The <a href="/contact">Reductive Dehalogenase Database</a> is a joint project from <a href="https://www.labs.chem-eng.utoronto.ca/edwards/" target="_blank">Elizabeth Edwards' Lab</a> in the BioZone Centre for Applied Bioscience and Bioengineering at the University of Toronto
          and <a href="http://www.wishartlab.com/" target="_blank"> Wishart Lab Group</a> at University of Alberta.
          BLAST is a registered trademark of the <a href="https://www.nlm.nih.gov/" target="_blank"> National Library of Medicine</a>.
        </p>

      </div>
      <div class="col">
        <%= image_tag 'UofT-Logo.png', width: '100%', alt: 'UofT'%>
      </div>
      <div class="col">
        <%= image_tag 'uofa.png',  width: '100%', alt: 'UofA'%>
      </div>
      <div class="col">
        <%= image_tag 'Waterloo_logo.jpg',  width: '100%', alt: 'UWaterloo'%>
      </div>
    </div>
</footer>