<div class="container">
  <h1><b id='page-header' style="font-size:25px;"> Reductive Dehalogenases Blast Database</b></h1>
</div>
<div id="navigation-bar">
    <nav>
      <ul>
        <li><a href=#>Home</a></li>
        <li><a href=/search>Blastn</a></li>
        <li><a href=/database>Database</a></li>
        <li><a href=#>About</a></li>
        <li><a href=/contact>Contact</a></li>
        <a href="#" id="menu-icon"></a>
      </ul>
    </nav>
</div>